:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --main-text-color: #fff;
  --main-bagt-color: #fff;
}

 /* ........index.html........ */
.body-container {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate, #434455);
  background-color: var(--color-white, #ffffff);
}
/* Effective Solutions for Your Business */
.section-hero {
 font-size: 56px;
 line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
  color: var(---color-white, #ffffff);
  }

 .nav-list  {
   font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris, #4d5ae5);
   }

 .header-logo-link{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris, #4d5ae5);
 }
 
 .link{
  text-decoration: none;
  color: inherit;
 }
 .list {
   list-style: none;
 }

 .header-logo-list{
  color:var(--color-navy-blue, #2e2f42);
 }

.header-list { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-grey, #2e2f42);
}
.header-list:hover{
  color: var(--color-ocean, #404bbf);
}
.header-list:focus{
 color: var(--color-ocean, #404bbf);
}

.contact{
  font-style:normal;
}

.contact-item{
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.02em;
  color:var(--color-slate, #434455);
}

.contact-link {
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.02em;
  color:var(--color-slate, #434455);
}

.contact-link:hover{
  color:var(--color-ocean, #404bbf);
}
.contact-link:focus {
  color:var(--color-ocean, #404bbf);
}

.section-hero{
background-color:var(--color-grey, #2e2f42);
}
.hero-soluction{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--color-white, #ffffff);
}
.btn-list-text{
  font-family:"Roboto" sans-serif;
  background-color: var(--color-iris, #4d5ae5); 
  color:var(--main-bagt-color, #fff);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor:pointer;
  color:var(--main-bagt-color, #fff);
}
.btn-list-text:hover{
background-color: var(--color-ocean,#404bbf);
}
.btn-list-text:focus {
  background-color:var(--color-ocean, #404bbf);
}

.about-list-link{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey, #2e2f42);
}
.text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 72px;
  width: 264px; 
  box-sizing: border-box;
  color: var(--color-slate ,#434455);
}

 .gallery-list {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--color-grey, #2e2f42);
 }

.list-img-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-grey, #2e2f42);
background-color: var(--color-white, #ffffff);
}

.section-team-list {
 background-color: var(--color-cloud, #f4f4fd);
 }
 .teams-list{
    font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--color-grey, #2e2f42);
 }

 .img-list {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-grey, #2e2f42);
background-color: var(--color-white, #ffffff);
 }

    .about-list-link{
        font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: var(--color-grey, #2e2f42);
          background-color: var(--main-text-color, #fff);
    }

.footer-container-link {
  background-color: var(--color-navy-blue, #2e2f42)
}
  
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris, #4d5ae5);
}

.footer-logo-link {
   color: var(--color-cloud, #f4f4fd);
  }

     .text-footer {
       font-size: 16px;
       line-height: 24px;
       letter-spacing: 0.02em;
       color: var(--color-cloud, #f4f4fd);
     }

 .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate, #434455);
  }
/* portfolio page */
.portfolio-btn-list-text{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris, #4d5ae5);
  background-color: var(--color-cloud, #f4f4fd);
  cursor: pointer;
}
.portfolio-btn-list-text:hover {
  color:var(--main-bagt-color, #fff);
  background-color: var(--color-ocean, #404bbf);
}

.portfolio-btn-list-text:focus {
  color: var(--main-bagt-color, #fff);
  background-color:var(--color-ocean, #404bbf);
}
.portfolio-title{
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-grey, #2e2f42);
}
.portfolio-desk{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate, #434455);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-top: 0;
  margin-bottom: 0;
}
 ul{
  margin: 0;
  margin-bottom: 0 ;
  padding-left: 0;
 }



 



                          